@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Changa:wght@200..800&family=Dosis:wght@200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Patua+One&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:wght@100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Signika:wght@300..700&family=Yanone+Kaffeesatz:wght@200..700&family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Changa:wght@200..800&family=Dosis:wght@200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Patua+One&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:wght@100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Signika:wght@300..700&family=Yanone+Kaffeesatz:wght@200..700&family=Yusei+Magic&display=swap');

.nunito-uniquifier-modal2{
    width: 450px;
    height: auto;
    background-color: rgba(218, 213, 213, 0.993);
    display: none;
     top: 0;
    position: fixed;
    margin: 95px 50px;
    border-radius: 10px;
    flex-direction: column;
    z-index: 999;
    border: solid 2px rgb(73, 71, 71);
  
    font-family: "Nunito", serif;
   
    font-weight: bold;
   
    color: rgb(68, 64, 64);
   
    font-style: normal;

}
.errors{
  color: #ff0c0c;
  margin: 5px 10px;
  font-size: 14px;
  
}
.nunito-uniquifier-cuenta {
    font-family: "Nunito", serif;
    /* font-optical-sizing: auto; */
    font-weight: bold;
    font-size: 16px;
    color: rgb(68, 64, 64);
    margin: 20px;
    font-style: normal;
}
.is-open{
    display: flex;
}
.buttonmodal{
 cursor: pointer;
 color: rgb(75, 75, 75);
 font-weight: 100;
 margin: 10px 410px;
 font-size: 45px;
 z-index: 2000px;
 position: fixed;
 color: rgb(43, 40, 40);
}
.buttonmodal:hover{
    color: rgb(160, 58, 58);
}

.inputdatos{
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 10px;


}
.btniniciarsecion{
    width: 250px;
    height: 40px;
     border: none;
     border-radius:10px;
     background-color: rgb(255, 203, 32);
     font-weight: 500;
     font-size:18px;
     margin: 10px 50px

}
.btniniciarsecion:hover{
background-color: orange;
}
.datos{
    margin: 0px;
}
.email{
    margin: 0px 10px;
    font-size: 40px;
    
}
.parrafocontainer{
  
    color: rgb(20, 20, 20);
  
    text-align: start;
    
}
.container2{
    justify-content: space-between;
    display: flex;
}
.aoutorizacion{
    font-size: 13px;
    color: rgb(29, 24, 24);
    text-align: start;
    margin: 0px 5px;
}

@media only screen and (max-width: 500px) {
   
    .modal2{
        margin: 0px 2px;
        width: 420px;
    }
    .nunito-uniquifier-modal2{
        width: 450px;
       
        margin: 90px 0px;
       
    
    }
 }