@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Changa:wght@200..800&family=Dosis:wght@200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Patua+One&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:wght@100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Signika:wght@300..700&family=Yanone+Kaffeesatz:wght@200..700&family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Changa:wght@200..800&family=Dosis:wght@200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Patua+One&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:wght@100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Signika:wght@300..700&family=Yanone+Kaffeesatz:wght@200..700&family=Yusei+Magic&display=swap');

.nunito-uniquifier-modal2{
    width: 600px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.993);
    display: none;
     top: 0;
    position: fixed;
    margin: 110px 410px;
    border-radius: 5px;
    flex-direction: column;
    z-index: 999;
    border: solid 1px rgb(80, 14, 80);
  
    font-family: "Nunito", serif;
   
    font-weight: bold;
   
    color: rgb(68, 64, 64);
   
    font-style: normal;

}
.form{
    display: flex;
    flex-direction: column;
  
    width: 400px;
    margin: 0px auto;
}
.form>label{
    color: white;
    font-weight: 300;
    text-align: center;
}
.errors{
  color: #ff0c0c;
  margin: 5px 10px;
  font-size: 14px;
  
}
.nunito-uniquifier-cuenta {
    font-family: "Nunito", serif;
    /* font-optical-sizing: auto; */
    font-weight: bold;
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin: 20px;
    font-style: normal;
}
.is-open{
    display: flex;
}
.buttonmodal{
 cursor: pointer;
 color: rgb(250, 250, 250);
 font-weight: 100;
 margin: 5px 560px;
 font-size: 30px;
 z-index: 200px;
 position: fixed;

}
.buttonmodal:hover{
    color: rgb(73, 16, 105);
}

.inputdatos{
    width: 350px;
    height: 40px;
    border: none;
    border-radius: 10px;


}
.btniniciarsecion{
    width: 250px;
    height: 40px;
     border: none;
     background-color: blueviolet;
     border-radius:2px;
    color: white;
     font-weight: 500;
     font-size:18px;
     margin: 10px 50px

}

.btniniciarsecion:hover{
background-color: rgb(140, 44, 196);
}
.btn-cuenta{
   width: 250px;
    height: 40px;
     border: none;
     background-color: rgba(137, 43, 226, 0);
     border-radius:2px;
    color: white;
    border: solid 1px rgb(75, 17, 109);
     font-weight: 500;
     font-size:18px;

     margin: 10px 50px 
}
.btn-cuenta:hover{
    background-color: blueviolet;
}
.datos{
    margin: 0px;
}
.email{
    margin: 0px 10px;
    font-size: 40px;
    
}
.parrafocontainer{
  
    color: rgb(20, 20, 20);
  
    text-align: start;
    
}
.container2{
    justify-content: space-between;
    display: flex;
}
.aoutorizacion{
    font-size: 13px;
    color: rgb(29, 24, 24);
    text-align: start;
    margin: 0px 5px;
}

@media only screen and (max-width: 500px) {
   
    .modal2{
        margin: 0px 2px;
        width: 420px;
    }
    .nunito-uniquifier-modal2{
        width: 350px;
       border: solid 1px rgb(87, 18, 87);
        margin: 80px 20px;
       
    
    }
    .buttonmodal{
        
        color: white;
         z-index: 200px;
      position: fixed;
      margin: 5px 310px;
    }
    .btniniciarsecion{
        color: white;
        margin: 0px auto;
        border-radius:1px;
        background-color: rgb(128, 37, 212);
    }
    .btniniciarsecion:hover{
        background-color: rgb(131, 74, 185);
    }
    .btn-cuenta{
                color: white;
        margin: 0px auto;
        width:255px;
        border-radius:2px;
        height: 40px;
        margin: 10px auto;
        border: none;
        border: solid rebeccapurple 2px ;
        background-color: rgba(127, 37, 212, 0);
    }
    .btn-cuenta:hover{
        background-color: rgb(128, 37, 212); 

    }
    .form{
        width: 300px;
        margin: 0px auto;
     
    }
    .inputdatos{
        border: none;
        border-radius: 0px;
        height: 50px;
        background-color: rgba(81, 25, 82, 0.712);
    }
    .inputdatos::placeholder{
        color: white;
    }
 }